
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px; 
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav a:hover {
  background-color: #eee;
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-foto {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;    /* hace que sea completamente redonda */
  border: 2px solid #0d3c5c; /* borde de color y grosor */
  object-fit: cover; 
}


.profile h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.profile h2 {
  margin: 5px 0 0 0;
  font-size: 1rem;
  font-weight: normal;
  color: #555;
  text-align: center;
}
